body {
  font-size: 1em;
}
nav ul li {
  display: inline;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-left: 1px solid white;
}

nav ul li:first-child {
  border-left: none;
  border-top: none;
}

nav ul li a:hover {
  color: #f2a903;
}

#cantor h1 a:hover {
  color: #f2a903;
}

header {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
}

nav ul {
  flex-direction: row;
}

#main {
  display: flex;
  margin-left: 10px;
}

#main p {
  margin-left: 10px;
}

#sidebar {
  display: block;
  flex: 0 1 200px;
  border: 3px solid #f2a903;
  border-radius: 10px;
  padding: 20px 40px;
  margin-top: 10px;
  text-align: center;
  max-height: 420px;
  background-color: #523e0e;
}

#sidebar p,
#sidebar h2,
#sidebar address {
  color: white;
}

#container {
  margin: auto;
  min-width: 600px;
  max-width: 1300px;
}

form {
  margin: auto;
  width: 50%;
}

form > div {
  margin: 15px 0;
  display: flex;
}

label {
  margin-top: 30px;
  width: 100px;
}

.submitContainer {
  justify-content: flex-end;
}

input[type="submit"] {
  padding: 20px 30px;
}

input[type="submit"] {
  width: auto;
}

.slider {
  width: 1000px;
}

.staff {
  display: flex;
  text-align: center;
}

.staff div {
  flex-direction: row;
  margin: 1px;
}

.staff div img {
  width: 250px;
  height: auto;
}
