body {
  font-family: sans-serif;
}

header h1 {
  color: white;
}

header,
#container,
footer {
  padding: 0 20px;
}

.logo img {
  width: 150px;
  height: 150x;
}

header {
  background-color: #523e0e;
  border: 3px solid #f2a903;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#cantor {
  display: flex;
}

footer {
  border-top: 2px solid #f2a903;
  margin: 15px 10px 10px 0;
  font-style: italic;
  text-align: center;
}
